.recipiesCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  width: 100vw;
  max-width: 1400px;
  gap: 4rem;
  padding: 3rem 2rem;
}

.nextPrevBtns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.noRecipies {
  font-size: clamp(1.4rem, 3vw, 2rem);
  text-align: center;
  margin: 4rem;
}
