.recipeCard {
  background: var(--clr-buttons2);
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding-bottom: 1rem;
}

.recipeCardLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  font-size: clamp(1.4rem, 3vw, 2rem);
  position: relative;
  text-decoration: none;
  color: #fff;
}

.recipeCard .label {
  font-weight: bold;
}

.recipeCard .userDiv {
  text-align: center;
}
.recipeCard .recipeCardUser {
  text-decoration: none;
  color: var(--clr-light2);
}

.recipeCard .recipeCardUser:hover {
  color: var(--clr-buttons3);
}

.recipeCard img {
  width: 100%;
  height: 250px;
  align-self: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipeCard .recipeName {
  font-weight: bold;
  text-align: center;
  min-height: 5rem;
}

.recipeCard .detail {
  display: flex;
  width: 100%;
  min-height: 6rem;
  padding: 0 1rem;
}

.recipeCardChildren {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 0 1rem;
}
.recipeCardChildren .react-icon:hover {
  transform: scale(1.2);
}
