.profileContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.UserInfo {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.UserInfo span {
  color: var(--clr-buttons3);
}
.UserInfo h2 {
  text-align: center;
}

.UserInfo img {
  width: 400px;
  border-radius: 30px;
}

.myKitchen {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.myKitchen h1 {
  text-align: center;
}

.myKitchen a {
  align-self: center;
}

.react-icon {
  cursor: pointer;
}

.confirmDelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.confirmDelete .innerConfrim {
  opacity: 0.9;
  background: var(--clr-nav);
  width: 300px;
  align-self: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 10px;
}

.confirmDelete div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.userRecipeContainer {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  width: 90%;
  gap: 2rem;
  padding: 0 2rem;
}

.editOption {
  margin-top: 3rem;
  border: 1px solid #111;
  width: max-content;
  border-radius: 4px;
  padding: 0.3rem;
}

.editOption:hover {
  transform: rotate(-10deg);
}

.editOption a {
  text-decoration: none;
  color: #111;
}

@media (max-width: 650px) {
  .profileContainer {
    grid-template-columns: 1fr;
  }

  .UserInfo img {
    width: 90%;
    align-self: center;
  }

  .UserInfo .editOption {
    align-self: center;
    margin-bottom: 3rem;
  }

  .myKitchen {
    margin-bottom: 4rem;
  }

  .confirmDelete .innerConfrim {
    width: 90%;
    font-size: 2rem;
  }

  .confirmDelete .innerConfrim button {
    font-size: 2rem;
  }

  .UserInfo,
  .UserInfo h2 {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .userRecipeContainer {
    grid-template-columns: repeat(auto-fill, 280px);
  }
}
