.recipeContainer {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  padding: 3rem;
  max-width: 1400px;
  font-size: clamp(1.4rem, 3vw, 2rem);
}

.recipeContainer img {
  width: 100%;
}

.recipeContainer .leftContainer img {
  width: 80%;
}

.recipeContainer .leftContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.ingredients {
  line-height: 3rem;
}

.ingredients span {
  font-weight: bold;
}

.midContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midContainer iframe {
  min-height: 300px;
}

.midContainer .instructions {
  padding: 2rem;
  height: fit-content;
  text-align: left;
  white-space: pre-wrap;
}

.midContainer h2 {
  margin: 3rem 0;
}

h2 {
  text-align: center;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin: 5rem 0;
  padding: 0 2rem;
}

.comments textarea {
  height: 100px;
  width: 50%;
  align-self: center;
  padding: 1rem;
}

.comments button {
  align-self: center;
}

.comments h2 {
  align-self: center;
}

.loginMsg {
  align-self: center;
}
