.recipeContainer {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  padding: 3rem;
  max-width: 1400px;
  font-size: clamp(1.4rem, 3vw, 2rem);
}

.recipeContainer .leftContainer img {
  width: 80%;
}

.recipeContainer .leftContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.ingredients {
  line-height: 3rem;
}

.ingredients span {
  font-weight: bold;
}

.midContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midContainer iframe {
  min-height: 300px;
}

.midContainer .instructions {
  padding: 2rem;
  height: fit-content;
  text-align: left;
  white-space: pre-wrap;
}

.midContainer h2 {
  margin: 3rem 0;
}

h2 {
  text-align: center;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 5rem 0;
  padding: 0 2rem;
}

.comments textarea {
  height: 100px;
  width: 50%;
  padding: 1rem;
}

.comments button {
  align-self: center;
}

.loginMsg {
  align-self: center;
}

.singleComment {
  display: flex;
  width: 100%;
  gap: 2rem;
  max-width: 1000px;
}

.singleComment .leftComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 110px;
  font-size: clamp(1.3rem, 3vw, 1.8rem);
}

.singleComment .leftComment img {
  width: 70px;
  border-radius: 30%;
}

.singleComment .rightComment {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 80%;
  gap: 2rem;
  flex-grow: 1;
}

.singleComment .rightComment .time {
  width: 100%;
  text-align: right;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.rightContainer .stickyRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  position: sticky;
  top: 70px;
}

.rightContainer .thumbsCont {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.rightContainer .thumbsCont .innerThumbGood {
  display: flex;
  flex-direction: column;
  color: green;
}

.rightContainer .thumbsCont .innerThumbBad {
  display: flex;
  flex-direction: column;
  color: red;
}

.voteDown,
.voteUp {
  cursor: pointer;
}

.rightContainer .alreadyVoted {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  color: red;
}

.deleteBtn {
  text-align: right;
}

@media (max-width: 1000px) {
  .recipeContainer {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
    margin-top: 7rem;
  }

  .recipeContainer .leftContainer img {
    align-self: center;
    width: 100%;
  }

  .midContainer iframe {
    width: 90%;
  }

  .comments textarea {
    width: 70%;
  }

  .midContainer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .rightContainer .stickyRight {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

@media (max-width: 550px) {
  .recipeContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-rows: 2fr 6fr 10fr;
    gap: 0;
  }

  .recipeContainer .leftContainer {
    grid-row: 2 / 3;
    margin-bottom: 4rem;
  }

  .midContainer iframe {
    height: 200px;
    width: 100%;
  }

  .comments textarea {
    width: 80%;
  }

  .midContainer {
    grid-row: 3 / 4;
  }

  .rightContainer .stickyRight {
    grid-row: 1 / 2;
    position: relative;
  }
}
