.navBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.6rem;
  background: var(--clr-nav);
  border-radius: 5px;
  max-width: 1400px;
  margin: 0.5rem auto;
  opacity: 0.9;
  z-index: 10;
}

.hamburgerIcon {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 40px;
  height: 40px;
  z-index: 4;
  cursor: pointer;
}

.hamburgerIcon .theIcon,
.theIconClose {
  width: 100%;
  height: 100%;
}
.hamburgerIcon .theIconClose {
  color: #fff;
}

.hamburgerMenu {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 60%;
  height: 100%;
  padding-top: 6rem;
  background-color: var(--clr-nav);
  z-index: 3;
  transition: all 0.5s ease;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 100%;
}

.hamburgerList {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: min-content;
}

.hamburgerMenu.active {
  display: none;
  left: 0;
  transition: all 0.5s ease;
}

.navLeft,
.navRight {
  display: flex;
}

.navBar a,
.hamburgerMenu a,
.mobile-dropDownProfile .dropProfile a {
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s ease;
}

.hamburgerMenu a {
  color: #fff;
  font-size: 3rem;
  width: min-content;
}

.navBar a:hover,
.hamburgerMenu a:hover,
.mobile-dropDownProfile .dropProfile a:hover {
  background: rgb(226, 226, 178);
  color: #111;
}

.dropProfile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 5px;
  top: 10%;
  border-radius: 10px;
  background: var(--clr-nav);
  z-index: 10;
}

.mobile-dropDownProfile .dropProfile {
  right: 0.3rem;
  top: 0.1rem;
  background: var(--clr-nav);
  z-index: 4;
  border-radius: 50%;
  opacity: 0.9;
}

.mobile-dropDownProfile .dropProfile a {
  font-size: 1.6rem;
}

.dropProfile a {
  display: none;
}

.dropProfile.expanded a {
  padding: 0.8rem 1rem;
  display: block;
}

.dropProfile.expanded {
  height: 150px;
  width: 125px;
  border-radius: 10px;
}

.dropProfile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  align-self: flex-end;
}

.mobile-dropDownProfile {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 4;
}
.mobile-dropDownProfile .login-icon {
  color: #111;
  font-size: 4rem;
  cursor: pointer;
}

@media (max-width: 670px) {
  .navBar {
    display: none;
  }

  .mobile-dropDownProfile {
    display: block;
  }

  .hamburgerIcon,
  .hamburgerMenu.active {
    display: block;
  }
}

@media (max-width: 400px) {
  .hamburgerMenu {
    width: 80%;
  }
}
