:root {
  --clr-nav: #0f7173;
  /* --clr-buttons2: #f05d5e; */
  --clr-buttons3: rgb(216, 165, 27);
  --clr-buttons2: #3a2d2d;
  --clr-card2: #65524d;
  --clr-light: #e7ecef;
  --clr-light2: rgb(235, 201, 110);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lottieSpinnerDiv {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.lottieSpinner {
  width: 200px;
}

.notFound {
  text-align: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: bold;
}

.loginGoogle {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginGoogle button {
  font-size: clamp(2rem, 3vw, 4rem);
  padding: 2rem 2rem;
}

.loginGoogle .googleImg {
  width: 270px;
  height: 200px;
  align-self: center;
  background: url(./assets//images/google.png) no-repeat center;
}

.mainContainer {
  padding-top: 10rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding-bottom: 4rem;
  gap: 3rem;
  font-size: clamp(1.4rem, 3vw, 2rem);
}

button {
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: clamp(1.4rem, 3vw, 2rem);
  background: var(--clr-light2);
}

/** --------- scroll ----------- */

::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/** --------- spinner ----------- */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  align-self: center;
  justify-self: center;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #111;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 550px) {
  .mainContainer {
    padding-top: 6rem;
  }

  .lottieSpinner {
    width: 180px;
    margin-top: 5rem;
  }
}
