* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
  font-weight: bold;
}

.container {
  font-size: 2rem;
  padding: 2rem;
  line-height: 5rem;
}
